<nav class="navbar navbar-inverse navbar-static-top marginBottom-0" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if session.get('autenticado') == false %}
            <a class="navbar-brand" href="{{host}}">Home</a>
        {% else %}
            <a class="navbar-brand" href="{{host}}index/admin">Home</a>
        {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">          
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quienes somos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href='#'>Nuestro equipo</a></li>
                    <li><a href='#'>Comisión directiva</a></li>
                    <li><a href='#'>Nuestro trabajo</a></li>
                </ul>
            </li>

    </div>
</nav>
